/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4ccf73;
  --ifm-color-primary-dark: #44b044;
  --ifm-color-primary-darker: #3a762d;
  --ifm-color-primary-darkest: #1c4620;
  --ifm-color-primary-light: #59cd68;
  --ifm-color-primary-lighter: #51d37a;
  --ifm-color-primary-lightest: #5ee187;
  --ifm-code-font-size: 95%;
  --ifm-menu-link-padding-vertical: 0.3rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article,
.pagination-nav,
.alert.alert--warning:not(.admonition) {
  margin: 1rem 4rem 3rem;
}

article .badge.badge--secondary {
  margin-bottom: 2rem;
}

.menu {
  padding-top: 1rem !important;
  font-size: .900rem;
}

.menu > .menu__list > .menu__list-item > .menu__link:not([href]),
.menu > .menu__list > li > a.menu__link--sublist {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
  color: #888;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}